
@model DisasterAlleviationFoundation.Pages.MonetaryDonation.MoneteryDonationListModel

<p>
    <a asp-page="CreateMoneyDonation">Create New</a>
</p>
<div class="table-container">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MonetaryDonations[0].Date)s
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonetaryDonations[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonetaryDonations[0].IsAnonymous)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MonetaryDonations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAnonymous)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MonetaryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MonetaryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MonetaryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

