
@model DisasterAlleviationFoundation.Pages.Disasters.DisasterListModel

<p>
    <a asp-page="CreateDisaster">Create New</a>
</p>
<div class="table-container">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disaster[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disaster[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disaster[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disaster[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Disaster) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DisasterID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DisasterID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DisasterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>